@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

*{
  font-family: "Lato", sans-serif;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.body{
  background-color: rgb(238, 228, 224);
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.encabezado{
  height: 85pt;
  display: flex;
  justify-content: center;
  align-items: center;
}
.logo{
  height: 100%;
  max-width: none;
}

.usersvg{
  height: 20pt;
}
nav ul{
  text-align:center;
}
nav ul li{
  display: inline-block;
  margin-left: 10pt;
  margin-right: 10pt;
}
nav ul li a{
  color: #2c2626;/*color del trexto*/
  font-size: 13pt;
  padding: 10pt 15pt; /* ancho de altura 9px y largo de 15px*/
  border-radius: 10pt; /*borde del rectangulo */
  text-transform: uppercase; /*textodel menu*/
  text-decoration: none;
}
li a.active, li a:hover{
  background: rgb(172, 172, 172); /*color de lo que incluye el menu */
  transition: .5s; /*Trancicion de letras*/
  text-decoration: none;
}
.divisor{
  display: flex;
  justify-content: center;
  padding-bottom: 5pt;
  width: 100%;
  flex-direction: column;
  align-items: center;
}
.main{
  display: flex;
  justify-content: center;
  height: 350pt;
  padding-bottom: 20pt;
}
.main1{
  position: absolute;
  height: 350pt;
}
.main2{
  display: flex;
  position: absolute;
  height: 180pt;
  top: 290pt;
  left: 150pt;
  color: white;
  text-shadow:1pt 1pt 2pt black;
}
.collection{
  position: absolute;
  left: 8%; 
  right: 5%; 
  top: 28%; 
  text-align: center;
}
.ropa1{
  position: absolute; top: 730pt; left: 210pt;
}
.ropa2{position: absolute; top: 730pt; left: 460pt;}
.ropa3{position: absolute; top: 730pt; left: 715pt;}

.venta{
  display: flex;
  justify-content: space-around;
  height: 200pt;
  padding-left: 110pt;
  padding-right: 110pt;
  padding-top: 10pt;
}
.banner1{
  width: 100%; /* Ajusta el tamaño de la imagen según el contenedor */
    display: flex;
    justify-content: center;
}
.cajaDivPlantilla{
  display: flex;
  justify-content: center;
  padding: 1%;
}
.cajaPlantilla {
  max-width: 945px;
  max-height: 3px;
  width: 100vw; /* El ancho será el 50% del ancho de la ventana */
  height: 100vh; /* La altura será el 50% de la altura de la ventana */
  background-color: rgb(82, 83, 75); /* Color de fondo (cambia según tus necesidades) */
  justify-content: center;
  border-radius: 20px;
}
.producto{
  padding-top: 20pt;
  display: flex;
  justify-content: center;
  height: 450px;
}
.carrito{
  background-color: rgba(238, 228, 224, 0.7);
  color: rgba(37, 30, 27, 0.7);
  border-color: #251E1B;
  height: 8%;
  margin-bottom: 2%;
}
.comprar{
  color: #EEE4E0;
  background-color: #251E1B;
  border-width: 0px;
  height: 8%;
}
.detalles{
  display: flex;
  justify-content: flex-start;
  padding: 0% 17% 3% 17%;
  padding-top: 2%;
}
.somos{
  display: flex; justify-content: center; padding-top: 2%;
}
.somosimg{height: 400pt;}


footer{
  padding-top: 1%;
  padding-bottom: 1%;
  width: 100%;
  background-color: rgb(44, 38, 38);
  display: flex;
 /* color: rgb(139, 20, 20);*/
  color: white;
  justify-content: center;
  margin-top: auto;
  font-size: 15px;
}

.red-social{
  justify-content: space-evenly;
  display: flex;
  flex-direction: row;
  text-decoration: none;
  line-height: 45px;
  color: #ffffff;
}

.mejoreshombre{
  position:absolute; color:white;
  padding-top: 0pt;
}

.venta2{
  padding-bottom: 2%; padding-top: 2%;
  display: flex;
  justify-content: space-around;
  height: 200pt;
  padding-left: 110pt;
  padding-right: 110pt;
  display: grid;
	grid-template-columns: repeat(3, 1fr);
}
.product-card-container {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin: 50px;
  text-align: center;
}

.card {
  margin: 50px;
}

button {
  padding: 10px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}

.card button {
  border: none;
  outline: 0;
  padding: 10px;
  color: white;
  background-color: #1bcb7f;
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 15px;
}
.card button:hover {
  opacity: 0.7;
}

.producto1lin1{
  position: absolute; top: 450pt; left: 210pt;
}
.producto2lin1{
  position: absolute; top: 450pt; left: 460pt;
}
.producto3lin1{
  position: absolute; top: 450pt; left: 715pt;
}
.producto1lin2{
  position: absolute; top: 690pt; left: 210pt;
}
.producto2lin2{
  position: absolute; top: 690pt; left: 460pt;
}
.producto3lin2{
  position: absolute; top: 690pt; left: 715pt;
}
.producto1lin3{
  position: absolute; top: 930pt; left: 210pt;
}
.producto2lin3{
  position: absolute; top: 930pt; left: 460pt;
}
.producto3lin3{
  position: absolute; top: 930pt; left: 715pt;
}
.producto1lin1wo{
  display:flex;
}

.alevosianame{
    position: absolute; /* Establece el texto como posicionamiento absoluto */
    top: 38.5%; /* Lo posiciona en el 50% de la parte superior del contenedor */
    left: 50%; /* Lo posiciona en el 50% del lado izquierdo del contenedor */
    transform: translate(-50%, -50%); /* Centra el texto exactamente en el centro del contenedor */
    padding: 10px; 
    color: white;  
  }
  @media screen and (max-width:1000px){
    .banner2{
      width: 80%;
    }
    .alevosianame{
      width: 80%;
      position: absolute; /* Establece el texto como posicionamiento absoluto */
      top: 25.5%; /* Lo posiciona en el 50% de la parte superior del contenedor */
      left: 50%; /* Lo posiciona en el 50% del lado izquierdo del contenedor */
      transform: translate(-50%, -50%); /* Centra el texto exactamente en el centro del contenedor */
      padding: 10px; 
      color: white;  
    }
  }
  @media screen and (max-width:680px){
    .banner2{
      width: 80%;
    }
    .alevosianame{
      font-size: 200%;
      position: absolute; /* Establece el texto como posicionamiento absoluto */
      top: 27.5%; /* Lo posiciona en el 50% de la parte superior del contenedor */
      left: 50%; /* Lo posiciona en el 50% del lado izquierdo del contenedor */
      transform: translate(-50%, -50%); /* Centra el texto exactamente en el centro del contenedor */
      padding: 10px; 
      color: white;  
    }

  }

.somos1{
  text-align: center; /* Para centrar horizontalmente el contenido */
  margin: 0 auto; /* Para centrar el contenedor en la página */
  width: 69%; /* Ancho del contenedor, ajusta según tus necesidades */
  border: 1px solid black; /* Solo para visualización, puedes eliminarlo */
  padding: 0% 1% 3% 1%;
}

.adminclientnav{
  background-color:#d1d0a9;
  border-radius: 5pt;
  height: 65pt;
  display: flex;
  align-items: center;
  font-size: 8pt;
}

.adminclientnav ul{
  text-align:center;
  
}
.adminclientnav ul li{
  display: inline-block;
  margin-left: 10pt;
  margin-right: 10pt;
  margin-top: 10pt;
  margin-bottom: 10pt;
}
.adminclientnav ul li a{
  color: #2c2626;/*color del trexto*/
  font-size: 8pt;
  padding: 10pt 15pt; /* ancho de altura 9px y largo de 15px*/
  border-radius: 10pt; /*borde del rectangulo */
  text-transform: uppercase; /*textodel menu*/
  text-decoration: none;
}
.adminclientnav li a.active {
  background: rgb(136, 124, 99); /*color de lo que incluye el menu */
  transition: .5s; /*Trancicion de letras*/
  text-decoration: none;
}
.adminclientnav li a:hover{
  background: rgb(136, 124, 99); /*color de lo que incluye el menu */
  transition: .5s; /*Trancicion de letras*/
  text-decoration: none;
}

.slider{
  width:72%;
  margin: auto;
  overflow: hidden;
}
.slider ul{
  padding: 0;
  display: flex;
  width: 400%;
  animation: infinite alternate linear;
}
.slider li{
  width: 100%;
  list-style: none;

}
.slider img{
  width: 100%;
}
@keyframes cambio{
  0% {margin-left: 0;}
  20% {margin-left: 0;}

  25% {margin-left: -100%;}
  45% {margin-left: -100%;}
  
  50% {margin-left: -200%;}
  70% {margin-left: -200%;}

  75%{margin-left: -300%;}
  100%{margin-left: -300%;}

  75%{margin-left: -300%;}
  100%{margin-left: -300%;}
}