/*.loginPage{
    height: 100vh;
    width: 50%;
    margin: auto;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 7px 50px rgb(214, 223, 213);  
}*/
.containerlogin{
    height: 45%;
    width: 40%;
    margin: 20px auto;
    border-radius: 3%;
    padding: 5px 20px 20px 20px;
    background-color: #eed0b4;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.title{
    position: relative;
    font-size: 150%;
    font-weight: 800;
}
.btn1{
    background: transparent;
    color: var(--primaryColor);
    transition: .3s ease;
}

.btn1:hover{
    background: transparent;
    color: black;
}

.formDiv{
    flex-basis: 50%;
    margin: auto;
    flex-direction: column;
    gap: 1.5rem;
    transform: translateY(-1rem);
}

.headerDiv{
    text-align: center;
}
.form{
    gap: 1rem;
}
.inputDiv{

}
.icon{

}
input{
    background: white;
    color: none;
    border: none;
    width: 200px;
}
label{
    color:black;
    font-weight: 400;
    font-size: 14px;
    padding: .5rem 0;
    display: block;
}
/*.input{
    gap: .5rem;
    padding: 1rem;
    background: var(--inputColor);
    border-radius: 10px;
}*/

.btnLogin{
    background: rgb(139, 101, 30);
    padding: 0.3 0 .8rem 0 ;
    border-radius: 10px;
    color: white;
    align-items: center;
    margin: 2% auto;
    justify-content: center;
    width: 45%;
    gap: .5rem;
    transition: .3s ease;
    height: 50px;
}

.iconbtn{
    padding-left: 1%;
    font-size: 25px;
    transition: .3s ease;
    transform: translateY(0.1rem); 
}

.btnLogin:hover{
    background: #663b13;
    padding: 0.3 0 .8rem 0 ;
    border-radius: 10px;
    color: white;
    align-items: center;
    margin: 2% auto;
    justify-content: center;
    width: 100%;
    gap: .5rem;
    transition: .3s ease;
    height: 50px;
    .iconbtn{
        padding-left: 1%;
        font-size: 25px;
        transition: .3s ease;
        transform: translate(1rem,0.1rem);
       /* transform: translateX(6px)*/
    }
}

.btnLogin2{
    background: rgb(139, 101, 30);
    padding: 0.3 0 .8rem 0 ;
    border-radius: 10px;
    color: white;
    align-items: center;
    margin: 2% auto;
    justify-content: center;
    width: 45%;
    gap: .5rem;
    transition: .3s ease;
    height: 50px;
}

.iconbtn2{
    padding-left: 1%;
    font-size: 20px;
    transition: .3s ease;
    transform: translateY(0.1rem); 
}

.btnLogin2:hover{
    background: #663b13;
    padding: 0.3 0 .8rem 0 ;
    border-radius: 10px;
    color: white;
    align-items: center;
    margin: 2% auto;
    justify-content: center;
    width: 100%;
    gap: .5rem;
    transition: .3s ease;
    height: 50px;
    .iconbtn2{
        padding-left: 1%;
        font-size: 22px;
        transition: .3s ease;
        transform: translate(1rem,0.1rem) rotate(180deg);
       /* transform: translateX(6px)*/
    }
}

.showMessage{
    display: inline-block;
    color: white;
    padding: 10px;
    background: red;
    border-radius: 3px;
    text-align: center;
    width: 40%;
}

@media screen and (max-width:678px){
    
    .title{
        font-size: 150%;
        font-weight: 800;
    }
    .btn1{
        background: transparent;
        color: var(--primaryColor);
        transition: .3s ease;
    }
    
    .btn1:hover{
        background: transparent;
        color: black;
    }
    .formDiv{
        flex-basis: 50%;
        margin: auto;
        flex-direction: column;
        gap: 1rem;
        transform: translateY(-1rem);
    }
    input{
        background: white;
        color: none;
        border: none;
        width: 50%;
    }
    
}