.divproducto{
    display: flex; padding-left: 2%; flex-direction: column; margin: 0%;
}
.tituloproducto{
    margin: 0%;
}
.sku{padding-top: 2%; padding-left: 2%; margin: 0%;}
.precio{padding-top: 2%; padding-left: 2%; margin: 0%;}
.divcantidad{padding-left: 2%; padding-bottom: 8%;}
.cantidad{margin: 0%; padding-bottom: 2%;}
.inputcantidad{height: 65%;}